.app {
  display: flex;
  flex-direction: column;
  min-height: 120vh;
  background: rgb(208, 208, 208);
}
.body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.content {
  width: 80%;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 575px) {
  .content {
    width: 100%;
  }
  .body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }
}
