.articleList {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background: rgb(155, 155, 155);
}
.articleList h2 {
  align-self: center;
}
.articleCard {
  display: flex;
  justify-content: space-between;
  border-style: none;
  margin: 10px;
  background-color: rgb(204, 204, 204);
  padding: 10px;
  border-radius: 15px;
  box-shadow: 5px 5px rgb(87, 86, 86);
}
.loading {
  align-self: center;
}
.articleDropDownBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
