.articleList {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background: rgb(191, 198, 207);
}
.articleList h2 {
  align-self: center;
}
.articleCard {
  display: flex;
  justify-content: space-between;
  border-style: solid;
  margin: 10px;
  border-color: rgb(126, 123, 125);
  padding: 10px;
}
.loading {
  align-self: center;
}
.articleDropDownBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
