.comments {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 10px;
  background: rgb(226, 226, 226);
}
.commentHeader {
  display: flex;
  justify-content: space-between;
}
.comments h3 {
  align-self: center;
}
.commentCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-style: none;
  border-radius: 15px;
  margin: 10px 5px;
  background-color: rgb(196, 196, 196);
  padding: 10px;
  box-shadow: 5px 5px rgb(87, 86, 86);
}
.commentBody {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-self: center;
  width: 100%;
}
.commentFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.commentFooter button {
  align-self: flex-start;
}
.commentButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.delete {
  justify-self: self-end;
}
