.singleArticle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(208, 208, 208);
}
.articleMain {
  padding: 0px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-style: none;
  margin: 10px;
  border-radius: 15px;
  background-color: rgb(190, 190, 190);
  box-shadow: 5px 5px rgb(87, 86, 86);
}
.articleHeadings {
  display: flex;
  justify-content: space-between;
}
.articleMain h2 {
  align-self: center;
}
.articleBody {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-self: center;
  width: 100%;
}
.articleFooter {
  display: flex;
  justify-content: space-between;
}
.vote {
  font-size: 15px;
}
