.topicList {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(173, 173, 173);
  width: 20%;
  min-height: 100vh;
  padding: 10px;
}
.link {
  text-decoration: none;
  font-size: 20px;
  margin: 0;
  margin-block: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.topics p {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

@media screen and (max-width: 575px) {
  .topicList {
    min-width: fit-content;
    min-height: fit-content;
    width: 100%;
  }
  .topics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .topics p {
    display: none;
    height: 0;
    margin: 0;
  }
  .topics h4 {
    font-size: 15px;
  }
}
