.app {
  display: flex;
  flex-direction: column;
  min-height: 120vh;
}
.header {
  display: flex;
  flex-direction: column;
  background: grey;
}
.header h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
}
.header button {
  font-size: 15px;
  height: 25px;
  align-self: flex-end;
  margin: 5px;
}
.body {
  display: flex;
  flex-direction: row;
}
.topicList {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(199, 197, 197);
  width: 15%;
  min-height: 100vh;
}
.topicList li {
  list-style-type: none;
  align-self: center;
}
.articleList {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.articleList h2 {
  align-self: center;
}
.articleCard {
  display: flex;
  justify-content: space-between;
  border-style: solid;
  margin: 10px;
  border-color: rgb(126, 123, 125);
  padding: 10px;
}
.content {
  width: 85%;
  justify-content: center;
  align-items: center;
}
.singleArticle {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 10px;
}
.articleHeadings {
  display: flex;
  justify-content: space-between;
}
.singleArticle h2 {
  align-self: center;
}
.articleBody {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-self: center;
}
.articleFooter {
  display: flex;
  justify-content: space-between;
}
